{% extends 'base.html.twig' %}

{% block body %}
<div class="content-container">
    <h1>Edit Intervention</h1>

    {{ form_start(form) }}
    {% for field in form %}
        {% if field.vars.name == 'Statut' %}
            {# Display the selected list here #}
            {# Example: #}
            {{ form_row(field) }}
        {% endif %}
    {% endfor %}

    <button type="submit" class="btn">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}
</div>
{% endblock %}
